.foodmenu-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
}
.foodmenu-flex-container {
  width: 95%;
  background-color: red;
}
.category-tab-container {
  width: 100%;
  height: 10vh;
  display: flex;
  overflow-x: auto;
  align-items: center;
  margin-bottom: 5px;
}

.dish-items-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .category-tab-container {
    justify-content: space-evenly;
  }
}
